version : "3.9"

services: 
  backend:
    build: ./backend
    container_name: express-server
    ports: 
      - "4000:4000"
    networks:
      - fullstack-net  
    restart: unless-stopped  
  client: 
    build: ./client
    container_name: react-client
    ports:
      - "5173:3000"
    networks:
      - fullstack-net  
    depends_on:
      - backend
    restart: unless-stopped 
  caddy:
    image: caddy:latest
    container_name: caddy-server
    ports:
      - "80:80" 
    networks: 
      - fullstack-net
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped    

networks:
  fullstack-net:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:

